<select name="person-change" (change)="changeSelectedUser($event.target.value)">
  <option value="" disabled selected>Select a user</option>
  <option value="{{ person.businessEntityID }}" *ngFor="let person of persons">
    {{ person.name }}
  </option>
</select>

<p class="person-businessEntityID">
  Person ID: {{ selectedPerson?.businessEntityID }}
</p>
<p class="person-name">Person Name: {{ selectedPerson?.name }}</p>

<div class="number-types">
  <div *ngFor="let type of phoneNumberTypes; let i = index" class="type">
    <label for="number-type">{{ type.name }}</label>
    <input
      type="text"
      name="number-type"
      id="number-type"
      value="{{ getPhoneNumber(i) }}"
      [(ngModel)]="phoneNumbers[i]"
    />
    <button
      (click)="
        updatePhoneNumber(
          selectedPerson?.businessEntityID,
          i,
          type.phoneNumberTypeID
        )
      "
    >
      <p>Update</p>
    </button>
    <button
      (click)="
        deletePhoneNumber(
          selectedPerson?.businessEntityID,
          type.phoneNumberTypeID
        )
      "
    >
      <p>Delete</p>
    </button>
  </div>
</div>

<pre>{{ selectedPerson | json }}</pre>
